@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #191919;
  margin: 0;
  font-family: "Gothic A1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.english__font {
  font-family: "Poiret One", cursive;
}
