@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Somi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Somi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #191919;
  margin: 0;
  font-family: "Gothic A1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
