.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  transition: 0.5s;
  z-index: 1;
}

.app__logo {
  text-shadow: 0.05em 0.05em 0 #fff44f, 0.1em 0.1em 0 #bfff00;
}

@media screen and (max-width: 400px) {
  .avatar__id {
    display: none;
  }
}

.colorPicker__button {
  box-sizing: box-border;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 20;
  transition: 0.5s;
}

.colorpicker {
  position: absolute;
  top: 50px;
  right: 0;
  width: 120px;
  transition: 0.5s;
}

.nav__a {
  display: inline-block;
  position: relative;
}

.nav__a:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.2s;
}

.nav__a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.2s;
}

.nav__a__clicked {
  display: inline-block;
  position: relative;
}

.nav__a:hover:before {
  width: 50%;
}

.nav__a:hover:after {
  width: 50%;
}
