.sidebar {
  boxsizing: border-box;
  width: 250px;
  min-width: 250px;
  height: 100vh;
  padding-top: 80px;
  transition: 0.5s;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}

.selectedposts__box {
  overflow: auto;
  width: 210px;
  max-width: 210px;
  height: calc(100vh-130px);
  max-height: calc(100vh-130px);
}

.selectedposts {
  width: 92%;
  color: #2c272e;

  backgroundcolor: #ffffff;
  wordbreak: break-all;
  transition: 0.5s;
}
