.btn {
  position: relative;
}

.btn:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: black;
  opacity: 5%;
  transition: all 0.1s;
}

.btn:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: black;
  opacity: 5%;
  transition: all 0.1s;
}

.btn:active:before {
  width: 50%;
}

.btn:active:after {
  width: 50%;
}

.strech {
  animation-name: strech__ani;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes strech__ani {
  from {
    height: 1%;
  }
  to {
    height: 60%;
  }
}

.heightStrech {
  animation-name: heightStrech__ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes heightStrech__ani {
  0% {
    height: 0px;
  }
  30% {
    height: 60px;
  }
  40% {
    height: 55px;
  }
  50% {
    height: 59px;
  }
  60% {
    height: 56px;
  }
  70% {
    height: 58px;
  }
  80% {
    height: 57px;
  }
}

.moveRightToLeft {
  animation-name: moveRightToLeft__ani;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  top: -1;
}

@keyframes moveRightToLeft__ani {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
