.opacity {
  animation-name: opacity__ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes opacity__ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heightStrech {
  animation-name: heightStrech__ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes heightStrech__ani {
  0% {
    height: 0px;
  }
  50% {
    height: 60px;
  }
  70% {
    height: 45px;
  }
  80% {
    height: 58px;
  }
  90% {
    height: 52px;
  }
  100% {
    height: 56px;
  }
}

.moveRightToLeft {
  animation-name: moveRightToLeft__ani;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  position: relative;
  top: -1;
}

@keyframes moveRightToLeft__ani {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
