.btn {
  position: relative;
}

.btn:before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #e2e8f0;
  opacity: 20%;
  transition: all 0.2s;
}

.btn:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #e2e8f0;
  opacity: 20%;
  transition: all 0.2s;
}

.btn:active:before {
  width: 50%;
}

.btn:active:after {
  width: 50%;
}

.strech {
  animation-name: strech__ani;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes strech__ani {
  from {
    height: 1%;
  }
  to {
    height: 60%;
  }
}

.heightStrech {
  animation-name: heightStrech__ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes heightStrech__ani {
  0% {
    height: 0px;
  }
  50% {
    height: 60px;
  }
  70% {
    height: 45px;
  }
  80% {
    height: 58px;
  }
  90% {
    height: 52px;
  }
  100% {
    height: 56px;
  }
}

.moveRightToLeft {
  animation-name: moveRightToLeft__ani;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  position: relative;
  top: -1;
}

@keyframes moveRightToLeft__ani {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
