body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight:after {
  -webkit-animation-name: highlighting;
  animation-name: highlighting;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  content: "";
  width: 0%;
  height: 0.2rem;
  display: inline-block;
  background: #38bdf8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s all;
}

@-webkit-keyframes highlighting {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes highlighting {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
