.stacked-linear-1 {
  background: linear-gradient(
      127deg,
      rgba(56, 189, 248, 0.8),
      rgba(56, 189, 248, 0) 70.71%
    ),
    linear-gradient(
      217deg,
      rgba(124, 58, 237, 0.8),
      rgba(124, 58, 237, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    );
}

.stacked-linear-2 {
  background: linear-gradient(
      217deg,
      rgba(56, 189, 248, 0.8),
      rgba(56, 189, 248, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(124, 58, 237, 0.8),
      rgba(124, 58, 237, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    );
}

.stacked-linear-3 {
  background: linear-gradient(
      217deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(59, 130, 246, 0.8),
      rgba(59, 130, 246, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(124, 58, 237, 0.8),
      rgba(124, 58, 237, 0) 70.71%
    );
}

.stacked-linear-circle {
  background: linear-gradient(
      127deg,
      rgba(56, 189, 248, 0.8),
      rgba(56, 189, 248, 0) 70.71%
    ),
    linear-gradient(
      217deg,
      rgba(124, 58, 237, 0.8),
      rgba(124, 58, 237, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    );
}

.stacked-linear-rec {
  background: linear-gradient(
      217deg,
      rgba(139, 92, 246, 0.8),
      rgba(139, 92, 246, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(37, 99, 235, 0.8), rgba(37, 99, 235, 0) 70.71%),
    linear-gradient(
      336deg,
      rgba(219, 39, 119, 0.8),
      rgba(219, 39, 119, 0) 70.71%
    );
}

.stacked-linear-donation {
  background: linear-gradient(
      217deg,
      rgba(192, 132, 252, 0.8),
      rgba(192, 132, 252, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(251, 146, 60, 0.8),
      rgba(251, 146, 60, 0) 70.71%
    ),
    linear-gradient(336deg, rgba(220, 38, 38, 0.8), rgba(220, 38, 38, 0) 70.71%);
}

.stacked-linear-ad {
  background: linear-gradient(
      217deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(59, 130, 246, 0.8),
      rgba(59, 130, 246, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(251, 113, 133, 0.8),
      rgba(251, 113, 133, 0) 70.71%
    );
}
