.opacity {
  animation-name: opacity__ani;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes opacity__ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
