.opening {
  opacity: 0%;
  animation-name: opening__animation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes opening__animation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
